<template>
    <div class="page">
        <PageHeader
            Title="FAQ"
            Description="Pertanyaan yang sering ditanyakan"
            bgImage="images/pageheader/1.jpg"
        ></PageHeader>

        <mdb-container class="my-5">
            <h4 class="h4-responsive mb-3">Seputar JK Regency</h4>
            <mdb-accordion :panes="panes" material class=""></mdb-accordion>
            <!-- <mdb-card class="card"> </mdb-card> -->
        </mdb-container>
    </div>
</template>

<script>
import PageHeader from "../elements/page-header";
import {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbMask,
    mdbView,
    mdbIcon,
    mdbParallax,
    mdbLightbox,
    mdbSpinner,
    mdbBtn,
    mdbInput,
    mdbTextarea,
    mdbAccordion,
    mdbAccordionHeader,
    mdbAccordionBody,
    mdbAccordionItem,
} from "mdbvue";
export default {
    name: "about",
    components: {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbCard,
        mdbCardBody,
        PageHeader,
        mdbParallax,
        mdbView,
        mdbIcon,
        mdbMask,
        mdbLightbox,
        mdbSpinner,
        mdbBtn,
        mdbInput,
        mdbTextarea,
        mdbAccordion,
        mdbAccordionHeader,
        mdbAccordionBody,
        mdbAccordionItem,
    },
    data() {
        return {
            panes: [
                {
                    title: "Dimana lokasi perumahan bersubsidi JK Regency?",
                    content: `Jl. Raya Lembar, desa jembatan kembar, sebelum polres lombok barat, hanya 20 meter dari jalan raya.`,
                },
                {
                    title: "Berapa DP atau uang muka rumah bersubsidi JK Regency?",
                    content: `Hanya Rp 5.000.000,- sampai serah terima kunci. Bebas biaya notaris dan biaya proses kredit bank.`,
                },
                {
                    title: "Berapa type perumahan subsidi jk regency?",
                    content: `Type bangunan 30 m2 / tanah 80 m2`,
                },
                {
                    title: "Berapa besar angsuran perbulan dan jangka waktu angsuran perumahan bersubsidi JK Regency?",
                    content: `Besar angsuran Rp 1.063.000 selama 20 tahun`,
                },
                {
                    title: "Apa saja persyaratan perumahan bersubsidi JK Regency?",
                    content: `Ktp, KK, NPWP, Rekening Tabungan 3 bulan terakhir, Surat Keterangan bekerja, Slip Gaji, Akta Nikah (jika sudah menikah).`,
                },
                {
                    title: "Berapa harga cash perumahan bersubsidi JK Regency?",
                    content: `Rp 168.000.000,-`,
                },
                {
                    title: "Apa saja fasilitas umum disekitar lokasi perumahan bersubsidi JK Regency?",
                    content: `Polres Lombok Barat, Puskesmas, Pasar, Sekolah, Kantor desa, Minimarket.`,
                },
                {
                    title: "Dimana alamat kantor pemasaran perumahan bersubsidi JK Regency?",
                    content: `Jl. Prabu rangkasari no. 168 Abian Tubuh, Mataram.`,
                },
                {
                    title: "Apa saja fasilitas yang didapatkan di perumahan bersubsidi JK Regency?",
                    content: `2 kamar tidur, 1 ruang keluarga, 1 kamar mandi, 1 dapur, full keramik, PDAM, Listrik.`,
                },
                {
                    title: "Apakah benar bebas biaya administrasi dan biaya notaris?",
                    content: `Betul, bebas biaya administrasi dan biaya notaris.`,
                },
                {
                    title: "Apakah bagi yang memiliki usaha bengkel, atau pedagang bisa punya rumah bersubsidi?",
                    content: `Ya, tentu saja bisa.`,
                },
            ],
        };
    },
};
</script>
