<template>
    <div>
        <mdb-carousel class="mt-50" :items="items" :interval="6000" controlls></mdb-carousel>
        <mdb-container>
            <section class="my-5">
                <h2 class="h1-responsive font-weight-bold text-center mt-5">Pilihan bagus sudah ada di depan mata, buat apa ditunda?</h2>
                <h3 class="h3-responsive font-weight-bold text-center mb-3">Miliki sekarang sebelum kehabisan</h3>
                <!-- <p class="lead grey-text w-responsive text-center mx-auto mb-5">Hanya dengan <strong>DP 5 Juta-an</strong> dan <strong>CICILAN 1 Juta-an</strong> <br /> anda sudah bisa menempati rumah baru
                </p> -->
            </section>
        </mdb-container>

        <hr class="my-5" />

        <mdb-container > 
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold mt-5 text-center blue-text">JK Regency</h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">Rumah subsidi pilihan keluarga masa depan anda</p>
                <mdb-row class="mx-3">

                    <mdb-col lg="6">
                        <mdb-view class="rounded z-depth-1 mb-lg-0 mb-4" hover>
                            <img class="img-fluid" src="images/home/denah-1.png"
                                alt="Rumah subsidi lombok barat JK Regency" />
                            <a>
                                <mdb-mask overlay="white-slight" waves />
                            </a>
                        </mdb-view>
                    </mdb-col>

                    <mdb-col lg="6">
                    <mdb-row>
                        <mdb-col lg="12">
                        <h3 class="font-weight-bold mb-3 p-0 text-uppercase">
                            Lebih Luas. Lebih Puas
                        </h3>
                        <p class="grey-text w-responsive font-weight-bold">Luas tanah : 80 <br/> Luas Bangunan : 30 </p>
                            <h6 class="font-weight-bold mb-3 blue-text">
                            <!-- <mdb-icon icon="building" class="pr-2" /> -->
                            FASILITAS :</h6>
                        <p>
                            <ul class="list-unstyled">
                                <li class="mb-2"><mdb-icon icon="bed" class="pr-2" /> 2 kamar tidur</li>
                                <li class="mb-2"><mdb-icon icon="couch" class="pr-2" /> 1 ruang keluarga</li>
                                <li class="mb-2"><mdb-icon icon="car" class="pr-2" /> 1 garasi mobil</li>
                                <li class="mb-2"><mdb-icon icon="utensils" class="pr-2" /> 1 dapur</li>
                                <li class="mb-2"><mdb-icon icon="restroom" class="pr-2" /> 1 kamar mandi</li>
                                <li class="mb-2"><mdb-icon icon="tree" class="pr-2" /> Taman depan & belakang</li>
                            </ul>
                        </p>
                    </mdb-col>
                    </mdb-row>
                    
                    <mdb-row class="mt-3">
                        <mdb-col lg="12">
                            <h6 class="font-weight-bold mb-3 blue-text">
                            <!-- <mdb-icon icon="building" class="pr-2" /> -->
                            GALLERY :</h6>
                            <p>
                            <!-- <img class="img-fluid" style="max-width:42%;" src="images/home/denah-1.png" alt="Rumah subsidi lombok barat JK Regency" /> -->
                            <mdb-lightbox :imgs="gallery" gallery gap></mdb-lightbox>
                            </p>
                            <a href="/jkregency"><mdb-btn color="blue darken-4" size="md" class="waves-light ">Pelajari lebih lanjut</mdb-btn></a>
                        </mdb-col>  
                    </mdb-row>
                    </mdb-col>
                </mdb-row>
            </section>
        </mdb-container>

        <mdb-parallax
            src="images/home/house-1.jpg"
            height="450"
            factor="1.3"
        >
            <mdb-mask overlay="blue-slight" flexCenter>
                <mdb-row class="text-center">
                    <mdb-col md="12" xl="8" class="mx-auto">
                        <h2
                            class="display-4 font-weight-bold animated fadeInUp white-text"
                        >
                            DP 5 juta sudah terima kunci. Kapan lagi??
                        </h2>
                        <a href="https://drive.google.com/file/d/11LFIs0uk7sv06GlxRvLFyzEilMsqz4TQ/view?usp=sharing" target="_blank"><mdb-btn color="blue darken-4" size="md" class="waves-light mt-5">Download Brosur</mdb-btn></a>
                    </mdb-col>
                </mdb-row>
            </mdb-mask>
        </mdb-parallax>

 <!-- <mdb-container>
    <section class="text-center my-5 mx-3 pt-3">
      <h2 class="h1-responsive font-weight-bold my-5">Our best projects</h2>
      <p class="grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>
      <mdb-row class="d-flex justify-content-center">
        <mdb-col md="12" xl="8" class="mb-4">
          <mdb-view class="overlay rounded z-depth-2">
            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" alt="sample photo" class="img-fluid"/>
            <a>
              <mdb-mask waves overlay="white-slight"/>
            </a>
          </mdb-view>
          <mdb-card-body class="pb-0">
            <a href="" class="green-text"><h5 class="font-weight-bold mt-2 mb-3"><mdb-icon icon="building" class="pr-2"/>Property</h5></a>
            <h4 class="font-weight-bold mb-3">JK Regency</h4>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit cupidatat proident voluptatem quia numquam.</p>
            <mdb-btn color="blue darken-4" rounded>View more</mdb-btn>
          </mdb-card-body>
        </mdb-col>
      </mdb-row>
    </section>
  </mdb-container>
  
  <mdb-container fluid>
    <section class="text-center my-5 pt-3">
  <mdb-card class="card-image" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/forest2.jpg)">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <h5 class="h5 blue-text"><i class="fas fa-building"></i> Property</h5>
        <h2 class="card-title h2 my-4 py-2">JK Regency</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
        <mdb-btn tag="a" gradient="peach" icon="clone">View project</mdb-btn>
      </div>
    </div>
  </mdb-card>
    </section>
  </mdb-container> -->

        <mdb-container > 
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold mt-5  text-center">Lokasi</h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">Lokasi tentu menjadi faktor yang sangat penting dalam menentukan rumah tempat tinggal. Tempat yang strategis, akses jalan yang mudah, fasilitas umum yang lengkap sudah pasti menjadi prioritas</p>
                <mdb-row class="mx-3">
                    <mdb-col lg="5">
                        <h3 class="font-weight-bold mb-3 p-0 text-uppercase">
                            20 Meter dari jalur utama
                        </h3>
                        <p class="grey-text w-responsive font-weight-bold">JK Regency sangat dekat dengan berbagai fasilitas umum penting</p>
                        <a class="blue-text">
                            <h6 class="font-weight-bold mb-3">
                            <!-- <mdb-icon icon="building" class="pr-2" /> -->
                            FASILITAS UMUM SEKITAR :</h6>
                        </a>
                        <p>
                            <ul>
                                <li class="mb-2"> Pelabuhan Lembar & Gili Mas - 7 & 15 menit</li>
                                <li class="mb-2"> Polres Lombok Barat - 300m</li>
                                <li class="mb-2"> SMPN 5 Lembar - 10m</li>
                                <li class="mb-2"> SMAN 1 Lembar - 400m</li>
                                <li class="mb-2"> PUSKESMAS - 400m</li>
                                <li class="mb-2"> KUA - 10m</li>
                                <li class="mb-2"> Kantor Desa - 5m</li>
                                <li class="mb-2"> Pasar Tradisional - 300m</li>
                                <li class="mb-2"> Alfamart & Indomaret - 200m</li>
                                <li class="mb-2"> Pusat Pemerintahan Kab. Lombok Barat - 10 menit</li>
                            </ul>
                        </p>
                    </mdb-col>
                    <mdb-col lg="7">
                        <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.9662927667756!2d116.09037482919611!3d-8.704351673950553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf2681d7d4207935!2zOMKwNDInMTUuNyJTIDExNsKwMDUnMjcuMyJF!5e0!3m2!1sen!2spl!4v1644286556359!5m2!1sen!2spl" width="100%" height="100%" frameBorder="0" style="border: 0" loading="lazy"></iframe>
                        </div>
                    </mdb-col>
                     <!-- <mdb-col lg="7">
                        <p>
                            <mdb-lightbox :imgs="gallery" gallery gap></mdb-lightbox>
                        </p>
                     </mdb-col> -->
                </mdb-row>
            </section>
        </mdb-container>

        <hr class="my-5" />

        <mdb-container>
            <section class="text-center my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold my-5">Testimony</h2>
                <p class="grey-text w-responsive mx-auto mb-5">Mari kita dengar pengalaman mereka yang telah merasakan membeli dan menempati rumah di perumahan bersubsidi JK Regency</p>
                <mdb-carousel single slide :items="3" testimonial indicators indicatorsColor="blue darken-4" controlls
                    navColor="blue darken-4">
                    <template #[i+1] v-for="(testimonial, i) in testimonials">
                        <mdb-testimonial :key="i">
                            <mdb-avatar wrapperClass="z-depth-1 mb-4" :width="200" circle tag="img"
                                :src="testimonial.img" />

                            <h4 class="font-weight-bold mt-4">{{ testimonial.name }}</h4>
                            <h6 class="blue-text font-weight-bold my-3">{{ testimonial.position }}</h6>
                            <p class="font-weight-normal">
                                <mdb-icon icon="quote-left" class="pr-2"></mdb-icon>
                                {{ testimonial.quote }}
                            </p>
                            <div>
                                <mdb-rating :value="testimonial.rating" disabled far iconActiveClass="grey-text" />
                            </div>
                        </mdb-testimonial>
                    </template>
                </mdb-carousel>
            </section>
        </mdb-container>

        <hr class="my-5" />

        <!-- <mdb-container>
            <section class="text-center my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold my-5">Berita Terkini</h2>
                <p class="grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit est laborum.</p>
                <mdb-row class="text-center">
                    <mdb-col lg="4" md="12" class="mb-lg-0 mb-4">
                        <mdb-view class="overlay rounded z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" alt="sample photo"
                                class="img-fluid" />
                            <a>
                                <mdb-mask waves overlay="white-slight" />
                            </a>
                        </mdb-view>
                        <mdb-card-body class="pb-0">
                            <h4 class="font-weight-bold my-3">Judul Berita</h4>
                            <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                            <mdb-btn color="blue darken-4" size="sm">
                                <mdb-icon icon="clone" class="left" /> View project</mdb-btn>
                        </mdb-card-body>
                    </mdb-col>
                    <mdb-col lg="4" md="12" class="mb-lg-0 mb-4">
                        <mdb-view class="overlay rounded z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="sample photo"
                                class="img-fluid" />
                            <a>
                                <mdb-mask waves overlay="white-slight" />
                            </a>
                        </mdb-view>
                        <mdb-card-body class="pb-0">
                            <h4 class="font-weight-bold my-3">Judul Berita</h4>
                            <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                            <mdb-btn color="blue darken-4" size="sm">
                                <mdb-icon icon="clone" class="left" /> View project</mdb-btn>
                        </mdb-card-body>
                    </mdb-col>
                    <mdb-col lg="4" md="12" class="mb-lg-0 mb-4">
                        <mdb-view class="overlay rounded z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" alt="sample photo"
                                class="img-fluid" />
                            <a>
                                <mdb-mask waves overlay="white-slight" />
                            </a>
                        </mdb-view>
                        <mdb-card-body class="pb-0">
                            <h4 class="font-weight-bold my-3">Judul Berita</h4>
                            <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                necessitatibus saepe eveniet ut et voluptates repudiandae.</p>
                            <mdb-btn color="blue darken-4" size="sm">
                                <mdb-icon icon="clone" class="left" /> View project</mdb-btn>
                        </mdb-card-body>
                    </mdb-col>
                </mdb-row>
            </section>
        </mdb-container>

        <hr class="my-5" /> -->

        <mdb-container>
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold text-center">Hubungi Kami</h2>
                <p class="text-center w-responsive mx-auto pb-5">Kami dengan senang hati membantu anda untuk memberikan informasi yang lebih detail.</p>

                <mdb-row class="mb-5">
                    <mdb-col lg="12">
                        <div class="text-center">
                            <img
                                src="images/jkregency/hubungikami.png"
                                class="img-fluid mb-3 hover-shadow"
                                alt="Perumahan bersubsidi lombok barat"
                                width="15%"
                                align=""
                            />
                        </div>
                    </mdb-col>
                </mdb-row>

                <mdb-row class="mb-5">
                    <mdb-col lg="12">
                        <h4 class="font-weight-bold text-center">
                            Whatsapp kami sekarang
                        </h4>
                        <div class="text-center">
                            <a href="https://wa.me/6287896468259" class="btn btn-rounded white-text" style="background-color: #25d366;" target="_blank"><i class="fab fa-whatsapp pr-2"> </i>Chat via Whatsapp</a>

                            <!-- <mdb-btn color="" size="lg" class="btn btn-rounded waves-light mt-3 white-text" style="background-color: #25d366;"><i class="fab fa-whatsapp pr-1"></i> Chat via Whatsapp</mdb-btn> -->
                        </div>
                    </mdb-col>
                </mdb-row>

                <!-- <mdb-row class="my-5 pt-5">
                    <mdb-col lg="5" class="lg-0 mb-5">
                        <mdb-card>
                            <mdb-card-body>
                                <div class="form-header blue darken-4">
                                    <h3 class="mt-2">
                                        <mdb-icon icon="envelope" /> Email kami</h3>
                                </div>
                                <p class="dark-grey-text">Silahkan mengisi form dibawah ini untuk mengirimkan email kepada tim kami</p>
                                <div class="md-form">
                                    <mdb-input icon="user" label="Nama Anda" iconClass="grey-text" type="text"
                                        id="form-name" />
                                </div>
                                <div class="md-form">
                                    <mdb-input icon="envelope" label="Email Anda" iconClass="grey-text" type="text"
                                        id="form-email" />
                                </div>
                                <div class="md-form">
                                    <mdb-input icon="tag" label="Subjek" iconClass="grey-text" type="text"
                                        id="form-subject" />
                                </div>
                                <div class="md-form">
                                    <mdb-textarea icon="pencil" label="Isi" iconClass="grey-text" id="form-text" />
                                </div>
                                <div class="text-center">
                                    <mdb-btn color="blue darken-4">Kirim</mdb-btn>
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </mdb-col>
                    <mdb-col lg="7">
                        <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.895660556328!2d116.12643761506268!3d-8.606015689790906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcdbf3615795b83%3A0x1554b3d4a87b51a7!2sGandrung%20Sasak%20Oleh%20Oleh%20Lombok!5e0!3m2!1sen!2sid!4v1644288971735!5m2!1sen!2sid" width="100%" height="100%" frameBorder="0" style="border: 0" loading="lazy"></iframe>
                        </div>
                        <br />
                        <mdb-row class="text-center">
                            <mdb-col md="4">
                                <mdb-btn tag="a" floating color="blue" class="accent-1">
                                    <mdb-icon icon="map-marker" />
                                </mdb-btn>
                                <p>Jl. Prabu Rangkasari No.168, Mataram</p>
                                <p class="mb-md-0">Lombok, Nusa Tenggara Barat</p>
                            </mdb-col>
                            <mdb-col md="4">
                                <mdb-btn tag="a" floating color="blue" class="accent-1">
                                    <mdb-icon icon="phone" />
                                </mdb-btn>
                                <p>+62878 9646 8259</p>
                                <p class="mb-md-0">Senin - Jumat, <br/> 08:00-17:00</p>
                            </mdb-col>
                            <mdb-col md="4">
                                <mdb-btn tag="a" floating color="blue" class="accent-1">
                                    <mdb-icon icon="envelope" />
                                </mdb-btn>
                                <p>info@gmail.com</p>
                                <p class="mb-md-0">sale@gmail.com</p>
                            </mdb-col>
                        </mdb-row>
                    </mdb-col>
                </mdb-row> -->
            </section>
        </mdb-container>
    </div>
</template>

<script>
    import {
        mdbCarousel,
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbIcon,
        mdbView,
        mdbMask,
        mdbCard,
        mdbCardBody,
        mdbBtn,
        mdbRating,
        mdbTestimonial,
        mdbAnimateOnScroll,
        mdbParallax,
        mdbAvatar,
        mdbInput,
        mdbTextarea,
        mdbLightbox
    } from "mdbvue";
    export default {
        name: "CarouselPage",
        components: {
            mdbCarousel,
            mdbContainer,
            mdbRow,
            mdbCol,
            mdbIcon,
            mdbView,
            mdbMask,
            mdbCard,
            mdbCardBody,
            mdbBtn,
            mdbIcon,
            mdbRating,
            mdbTestimonial,
            mdbAnimateOnScroll,
            mdbInput,
            mdbTextarea,
            mdbAvatar,
            mdbParallax,
            mdbLightbox
        },
        data() {
            return {
                items: [{
                        img: true,
                        src: "images/slideshow/S1.jpg",
                        alt: "Rumah subsidi lombok Barat JK Regency",
                        caption: {
                            title: ""
                        }
                    },
                    {
                        img: true,
                        src: "images/slideshow/S2.jpg",
                        alt: "Rumah subsidi lombok Barat JK Regency",
                        caption: {
                            title: ""
                        }
                    },
                    {
                        img: true,
                        src: "images/slideshow/S3.jpg",
                        alt: "Rumah subsidi lombok Barat JK Regency",
                        caption: {
                            title: ""
                        }
                    }
                ],

                gallery: [
                {
                    thumbnail:
                        "images/gallery/T1.jpg",
                    img:
                        "images/gallery/1.jpg"
                },
                {
                    thumbnail:
                        "images/gallery/T2.jpg",
                    img:
                        "images/gallery/2.jpg"
                },
                {
                    thumbnail:
                        "images/gallery/T3.jpg",
                    img:
                        "images/gallery/3.jpg"
                },
                {
                    thumbnail:
                        "images/gallery/T4.jpg",
                    img:
                        "images/gallery/4.jpg"
                },
                {
                    thumbnail:
                        "images/gallery/T5.jpg",
                    img:
                        "images/gallery/5.jpg"
                },
                {
                    thumbnail:
                        "images/gallery/T6.jpg",
                    img:
                        "images/gallery/6.jpg"
                }
            ],
                testimonials: [{
                        img: "images/testimony/1.jpg",
                        quote: "Untuk model rumah lain daripada yang lain, trus minimalis juga, untuk lingkungan sampai saat ini masih aman dan nyaman, dekat dengan fasilitas umum. Intinya selama baru beberapa bulan di JK Regency udah berasa betah",
                        name: "Mba Diana",
                        position: "Wiraswasta",
                        rating: 5
                    },
                    {
                        img: "images/testimony/2.jpg",
                        quote: "Alhamdulilah puas sekali, nyaman juga tempatnya. Model rumahnya juga beda dari yang lain, setiap orang yang ke rumah suka sekali lihat modelnya yg mungil di depan tapi pas masuk lebar sekali!",
                        name: "Mba Hana",
                        position: "Wiraswasta",
                        rating: 5
                    },
                    {
                        img: "images/testimony/3.jpg",
                        quote: "Bentuk rumahnya minimalis, suasananya asri, fasilitas sekolah dari SD, SMP, SMA sangat dekat, puskesmas dan polres juga sangat dekat. Pada intinya semua aman. Insyaallah saya dan keluarga betah",
                        name: "Eka Wiraatmaja",
                        position: "Wiraswasta",
                        rating: 5
                    }
                ]
            };
        }
    };

</script>
