<template>
    <div class="page">
        <PageHeader
            Title="Hubungi Kami"
            Description="Kami tidak sabar untuk segera berdiskusi dengan anda"
            bgImage="images/pageheader/1.jpg"
        ></PageHeader>

        <mdb-container>
            <section class="my-5">
                <!-- <h2 class="h1-responsive font-weight-bold text-center my-5">
                    Contact us
                </h2> -->
                <p class="lead text-center w-responsive mx-auto pb-5">
                    Kami akan menyambut dengan senang hati dan membantu dengan
                    segenap hati. <br />
                    Silahkan kunjungi kantor kami
                </p>
                <mdb-row class="mb-5">
                    <mdb-col lg="12" class="mb-5">
                        <div
                            id="map-container"
                            class="rounded z-depth-1-half map-container"
                            style="height: 400px"
                        >
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.895660556328!2d116.12643761506268!3d-8.606015689790906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcdbf3615795b83%3A0x1554b3d4a87b51a7!2sGandrung%20Sasak%20Oleh%20Oleh%20Lombok!5e0!3m2!1sen!2sid!4v1644288971735!5m2!1sen!2sid"
                                width="100%"
                                height="100%"
                                frameBorder="0"
                                style="border: 0"
                                loading="lazy"
                            ></iframe>
                        </div>
                    </mdb-col>
                    <mdb-col lg="12">
                        <mdb-row class="text-center">
                            <mdb-col md="4">
                                <mdb-btn
                                    tag="a"
                                    floating
                                    color="blue"
                                    class="accent-1"
                                >
                                    <mdb-icon icon="map-marker" />
                                </mdb-btn>
                                <p class="mt-2">
                                    Jl. Prabu Rangkasari No.168, Mataram, Lombok
                                </p>
                                <!-- <p class="mb-md-0">
                                    Lombok, Nusa Tenggara Barat
                                </p> -->
                            </mdb-col>
                            <mdb-col md="4">
                                <mdb-btn
                                    tag="a"
                                    floating
                                    color="blue"
                                    class="accent-1"
                                >
                                    <mdb-icon icon="phone" />
                                </mdb-btn>
                                <p class="mt-2">+62878 9646 8259</p>
                                <!-- <p class="mb-md-0">
                                    Senin - Jumat, <br />
                                    08:00-17:00
                                </p> -->
                            </mdb-col>
                            <mdb-col md="4">
                                <mdb-btn
                                    tag="a"
                                    floating
                                    color="blue"
                                    class="accent-1"
                                >
                                    <mdb-icon icon="envelope" />
                                </mdb-btn>
                                <p class="mt-2">
                                    kanasugimuliamakmur@gmail.com
                                </p>
                                <!-- <p class="mb-md-0">sale@gmail.com</p> -->
                            </mdb-col>
                        </mdb-row>
                    </mdb-col>
                </mdb-row>

                <hr class="my-5" />

                <p class="lead text-center w-responsive mx-auto pb-5">
                    Silahkan pilih media untuk berkomunikasi dengan kami. Kami
                    akan dengan senang hati berdiskusi dengan anda
                </p>

                <mdb-row class="mb-5">
                    <mdb-col lg="6" class="md-0 mb-5">
                        <mdb-card>
                            <mdb-card-body>
                                <div class="form-header blue darken-4">
                                    <h3 class="mt-2">
                                        <mdb-icon icon="envelope" /> Email
                                    </h3>
                                </div>
                                <!-- <p class="dark-grey-text">
                                    Silahkan mengisi form dibawah ini untuk
                                    mengirimkan email kepada tim kami
                                </p> -->
                                <div class="md-form">
                                    <mdb-input
                                        icon="user"
                                        label="Nama Anda"
                                        iconClass="grey-text"
                                        type="text"
                                        id="form-name"
                                    />
                                </div>
                                <div class="md-form">
                                    <mdb-input
                                        icon="envelope"
                                        label="Email Anda"
                                        iconClass="grey-text"
                                        type="text"
                                        id="form-email"
                                    />
                                </div>
                                <div class="md-form">
                                    <mdb-input
                                        icon="tag"
                                        label="Subjek"
                                        iconClass="grey-text"
                                        type="text"
                                        id="form-subject"
                                    />
                                </div>
                                <div class="md-form">
                                    <mdb-textarea
                                        icon="pencil"
                                        label="Isi"
                                        iconClass="grey-text"
                                        id="form-text"
                                    />
                                </div>
                                <div class="text-center">
                                    <mdb-btn color="blue darken-4"
                                        >Kirim</mdb-btn
                                    >
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </mdb-col>

                    <mdb-col lg="6" class="md-0 mb-5">
                        <mdb-card>
                            <mdb-card-body>
                                <div class="form-header blue darken-4">
                                    <h3 class="mt-2">
                                        <mdb-icon icon="users" /> Media Sosial
                                    </h3>
                                </div>
                                <!-- <h4 class="text-center">
                                    Whatsapp kami sekarang
                                </h4> -->
                                <mdbRow>
                                    <mdbCol lg="6" class="mb-5">
                                        <div class="text-center">
                                            <img
                                                src="images/hubungikami/wa.png"
                                                class="img-fluid mb-3 hover-shadow"
                                                alt="Perumahan bersubsidi lombok barat"
                                                width="15%"
                                                align=""
                                            />
                                        </div>
                                        <div class="text-center">
                                            <a
                                                href="https://wa.me/6287896468259"
                                                class="btn btn-rounded btn-block white-text"
                                                style="
                                                    background-color: #25d366;
                                                "
                                                target="_blank"
                                                ><i
                                                    class="fab fa-whatsapp pr-2"
                                                >
                                                </i
                                                >Chat via Whatsapp</a
                                            >
                                        </div>
                                    </mdbCol>
                                    <mdbCol lg="6">
                                        <div class="text-center">
                                            <img
                                                src="images/hubungikami/ig.png"
                                                class="img-fluid mb-3 hover-shadow"
                                                alt="Perumahan bersubsidi lombok barat"
                                                width="15%"
                                                align=""
                                            />
                                        </div>
                                        <div class="text-center">
                                            <a
                                                href="https://www.instagram.com/kanasugiproperty/"
                                                class="btn btn-rounded btn-block white-text purple-gradient"
                                                target="_blank"
                                                ><i
                                                    class="fab fa-instagram pr-2"
                                                >
                                                </i
                                                >Follow Instagram</a
                                            >
                                        </div>
                                    </mdbCol>
                                </mdbRow>
                            </mdb-card-body>
                        </mdb-card>
                    </mdb-col>
                    <!-- <mdb-col md="3" class="text-center">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <mdb-icon
                                    icon="map-marker"
                                    size="2x"
                                    class="blue-text"
                                />
                                <p>San Francisco, CA 94126, USA</p>
                            </li>
                            <li>
                                <mdb-icon
                                    icon="phone"
                                    size="2x"
                                    class="blue-text mt-4"
                                />
                                <p>+ 01 234 567 89</p>
                            </li>
                            <li>
                                <mdb-icon
                                    icon="envelope"
                                    size="2x"
                                    class="blue-text mt-4"
                                />
                                <p>contact@example.com</p>
                            </li>
                        </ul>
                    </mdb-col> -->
                </mdb-row>
            </section>
        </mdb-container>
    </div>
</template>

<script>
import PageHeader from "../elements/page-header";
import {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbMask,
    mdbView,
    mdbIcon,
    mdbParallax,
    mdbLightbox,
    mdbSpinner,
    mdbBtn,
    mdbInput,
    mdbTextarea,
} from "mdbvue";
export default {
    name: "about",
    components: {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbCard,
        mdbCardBody,
        PageHeader,
        mdbParallax,
        mdbView,
        mdbIcon,
        mdbMask,
        mdbLightbox,
        mdbSpinner,
        mdbBtn,
        mdbInput,
        mdbTextarea,
    },
    data() {},
};
</script>
