<template>
    <div class="page">
        <PageHeader
            Title="JK Regency"
            Description="Rumah bersubsidi impian keluarga anda"
            bgImage="images/pageheader/1.jpg"
        ></PageHeader>
        
        <mdb-container class="my-5">
            <!--Section: Content-->
            <section class="dark-grey-text mx-auto">
                <mdb-row class="my-6 justify-content-md-center">
                    <mdb-col lg="3">
                        <div class="view">
                            <img
                                src="images/jkregency/agen-1.png"
                                class="img-fluid mb-3 hover-shadow"
                                alt="Perumahan bersubsidi lombok barat"
                                width="100%"
                                align=""
                            />
                        </div>
                    </mdb-col>
                    <mdb-col lg="4" class="d-flex align-items-center">
                        <div>
                            <h3 class="font-weight-bold mb-4">
                                Kalau ada yang bagus dan terjangkau, kenapa
                                harus cari yang mahal?
                            </h3>
                            <p class="lead">
                                Karena yang bagus tidak harus mahal, dan yang
                                terjangkau tidak selalu dibawah standar.
                            </p>
                            <p>
                                JK Regency hadir untuk memberikan anda sebuah
                                hunian yang aman, nyaman, bagus, dan terjangkau.
                            </p>
                            <p>
                                Hanya dengan <strong>DP 5 Juta</strong> dan
                                <strong>Cicilan 1 Juta-an/Bulan</strong> anda
                                sudah bisa memiliki hunian idaman bagi keluarga
                                anda tercinta.
                            </p>
                        </div>
                    </mdb-col>
                </mdb-row>
            </section>
            <!--Section: Content-->
        </mdb-container>

        <mdb-container class="my-5">
            <section class="dark-grey-text">
                <mdb-row class="align-items-center">
                    <mdb-col lg="6">
                        <h3 class="font-weight-bold mb-4">
                            3M. Modern, Minimalis, Millenial
                        </h3>
                        <p class="lead">
                            Perpaduan yang sempurna bagi anda yang mementingkan
                            estetika tanpa menguras banyak biaya.
                        </p>
                        <p>
                            Siapa yang tidak bangga memiliki rumah dengan desain
                            modern? Kami paham bagaimana mewujudkannya untuk
                            anda. Kami yakin konsep 3M (Modern, Minimalis,
                            Millenial) adalah yang terbaik dan sesuai keinginan
                            anda.
                        </p>
                    </mdb-col>

                    <mdb-col lg="6">
                        <mdb-lightbox :imgs="gallery" gallery gap></mdb-lightbox>
                    </mdb-col>
                </mdb-row>
            </section>
        </mdb-container>
        
        <hr class="my-6" />

        <mdb-container class="my-5">
            <section class="">
                <h2 class="h1-responsive font-weight-bold mt-5 text-center">Spesifikasi</h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">Selain keindahan, kami mengutamakan kualitas</p>
                <mdb-row class="">
                        <mdb-col lg="3" class="mb-3">
                            <img
                                class="img-fluid"
                                src="images/jkregency/denah-1.png"
                                alt="Rumah bersubsidi lombok barat JK Regency"
                                width="100%"
                            />
                        </mdb-col>

                        <mdb-col lg="4" class="mb-3">
                            <h3 class="font-weight-bold mb-3 p-0 text-uppercase">
                                Lebih Luas. Lebih Puas
                            </h3>
                            <p class="grey-text w-responsive font-weight-bold">Luas tanah : 80 <br/> Luas Bangunan : 30 </p>
                                <h6 class="font-weight-bold mb-3">
                                FASILITAS :</h6>
                            <p>
                                <ul class="list-unstyled">
                                    <li class="mb-2"><mdb-icon icon="bed" class="pr-2" /> 2 kamar tidur</li>
                                    <li class="mb-2"><mdb-icon icon="couch" class="pr-2" /> 1 ruang keluarga</li>
                                    <li class="mb-2"><mdb-icon icon="car" class="pr-2" /> 1 garasi mobil</li>
                                    <li class="mb-2"><mdb-icon icon="utensils" class="pr-2" /> 1 dapur</li>
                                    <li class="mb-2"><mdb-icon icon="restroom" class="pr-2" /> 1 kamar mandi</li>
                                    <li class="mb-2"><mdb-icon icon="tree" class="pr-2" /> Taman depan & belakang</li>
                                </ul>
                            </p>
                        </mdb-col>

                        <mdb-col lg="5">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>Keterangan</th>
                                    <th>Spesifikasi</th>
                                </tr>
                                <tr>
                                    <td>Pondasi Struktur</td>
                                    <td>Pasangan batu & beton bertulang (Besi 10)</td>
                                </tr>
                                <tr>
                                    <td>Dinding</td>
                                    <td>Batako</td>
                                </tr>
                                <tr>
                                    <td>Lantai</td>
                                    <td>Keramik 40x40</td>
                                </tr>
                                <tr>
                                    <td>Kusen Pintu</td>
                                    <td>Kayu</td>
                                </tr>
                                <tr>
                                    <td>Daun Jendela</td>
                                    <td>Aluminium + Kaca</td>
                                </tr>
                                <tr>
                                    <td>Plafon</td>
                                    <td>Gypsum</td>
                                </tr>
                                <tr>
                                    <td>Rangka Atap</td>
                                    <td>Baja Ringan</td>
                                </tr>
                                <tr>
                                    <td>Atap</td>
                                    <td>Multi Roof</td>
                                </tr>
                                <tr>
                                    <td>Pintu K.Mandi</td>
                                    <td>PVC</td>
                                </tr>
                                <tr>
                                    <td>Dapur</td>
                                    <td>Sink Aluminium</td>
                                </tr>
                                <tr>
                                    <td>Sanitair</td>
                                    <td>Closet Jongkok</td>
                                </tr>
                                <tr>
                                    <td>Listrik</td>
                                    <td>PLN 900 watt</td>
                                </tr>
                                <tr>
                                    <td>Air</td>
                                    <td>PDAM</td>
                                </tr>
                            </table>
                        </mdb-col>
                    </mdb-row>
            </section>
        </mdb-container>

        <hr class="my-6" />

        <mdb-container class="my-5">
            <section class="">
                <h2 class="h1-responsive font-weight-bold mt-5 text-center">Harga</h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">Sangat terjangkau, proses mudah</p>
                <mdb-row class="">
                    <mdb-col lg="6">
                        <div class="view">
                            <img
                                src="images/jkregency/harga-2.jpg"
                                class="img-fluid mb-3 hover-shadow"
                                alt="Perumahan bersubsidi lombok barat"
                                width="100%"
                                align=""
                            />
                        </div>  
                    </mdb-col>
                    <mdb-col lg="6">
                        <div class="view">
                            <img
                                src="images/jkregency/harga-1.jpg"
                                class="img-fluid mb-3 hover-shadow"
                                alt="Perumahan bersubsidi lombok barat"
                                width="100%"
                                align=""
                            />
                        </div>  
                    </mdb-col>
                </mdb-row>

                <mdb-row class="d-grid">
                    <mdb-col lg="12">
                        <a href="https://drive.google.com/file/d/11LFIs0uk7sv06GlxRvLFyzEilMsqz4TQ/view?usp=sharing" target="_blank"><mdb-btn color="blue darken-4" size="lg" class="waves-light my-3" block>Download Brosur</mdb-btn></a>
                    </mdb-col>
                </mdb-row>
                
            </section>
        </mdb-container>

        <!-- <mdb-container fluid class="mt-3 mb-5">
      <section class="bg-primary z-depth-1">
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/PkHWXH00H4c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row no-gutters">
          <div class="col-lg-6 order-md-2">
            <div class="view">
              <img class="img-fluid" src="img/element/1.jpg" alt="Video title">
              <div class="mask flex-center rgba-black-light">
                <a id="play" class="btn-floating btn-danger btn-lg" data-toggle="modal" data-target="#modal1"><i class="fas fa-play"></i></a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-6 mx-auto d-flex align-items-center text-white">
            <div class="px-4 py-4 py-lg-0">
              <h3 class="font-weight-normal mb-4">The place</h3>
              <p class="mb-0">Fresh fellow even the whole is work outcome them. They original on mountains, drew the
                support time. The of to graduate. Into to is the to she at return understand every in there transmitting
                you've he the was and in finger.</p>
            </div>
          </div>
        </div>
      </section>
    </mdb-container> -->

        <mdb-parallax
            src="images/jkregency/1.jpg"
            height="400"
            factor="1.3"
        >
            <mdb-mask overlay="blue-slight" flexCenter style="background-color: rgba(0, 0, 0, 0.5)">
                <mdb-row class="text-center">
                    <mdb-col md="12" xl="8" class="mx-auto">
                        <h2
                            class="display-4 font-weight-bold animated fadeInUp white-text"
                        >
                            Unit terbatas. Segera amankan milik anda
                        </h2>
                        <a href="https://wa.me/6287896468259" class="btn btn-rounded white-text" style="background-color: #25d366;" target="_blank"><i class="fab fa-whatsapp pr-2"> </i>Chat via Whatsapp</a>
                    </mdb-col>
                </mdb-row>
            </mdb-mask>
        </mdb-parallax>

        <mdb-container > 
                <section class="my-5 mx-3">
                    <h2 class="h1-responsive font-weight-bold mt-5  text-center">Lokasi</h2>
                    <p class="grey-text w-responsive mx-auto mb-5 text-center">Lokasi tentu menjadi faktor yang sangat penting dalam menentukan rumah tempat tinggal. Tempat yang strategis, akses jalan yang mudah, fasilitas umum yang lengkap sudah pasti menjadi prioritas</p>
                    <mdb-row>
                        <mdb-col lg="5" class="">
                            <h3 class="font-weight-bold mb-3 p-0 text-uppercase">
                                20 Meter dari jalur utama
                            </h3>
                            <p class="grey-text w-responsive font-weight-bold">JK Regency sangat dekat dengan berbagai fasilitas umum penting</p>
                            <a class="blue-text">
                                <h6 class="font-weight-bold mb-3">
                                <!-- <mdb-icon icon="building" class="pr-2" /> -->
                                FASILITAS UMUM SEKITAR :</h6>
                            </a>
                            <p>
                                <ul>
                                    <li class="mb-2"> Pelabuhan Lembar & Gili Mas - 7 & 15 menit</li>
                                    <li class="mb-2"> Polres Lombok Barat - 300m</li>
                                    <li class="mb-2"> SMPN 5 Lembar - 10m</li>
                                    <li class="mb-2"> SMAN 1 Lembar - 400m</li>
                                    <li class="mb-2"> PUSKESMAS - 400m</li>
                                    <li class="mb-2"> KUA - 10m</li>
                                    <li class="mb-2"> Kantor Desa - 5m</li>
                                    <li class="mb-2"> Pasar Tradisional - 300m</li>
                                    <li class="mb-2"> Alfamart & Indomaret - 200m</li>
                                    <li class="mb-2"> Pusat Pemerintahan Kab. Lombok Barat - 10 menit</li>
                                </ul>
                            </p>
                        </mdb-col>
                        <mdb-col lg="7">
                            <div class="view">
                                <img
                                    src="images/jkregency/map-lokasi.jpg"
                                    class="img-fluid hover-shadow"
                                    alt="Perumahan bersubsidi lombok barat"
                                    width="100%"
                                    align=""
                                />
                            </div>
                        </mdb-col>
                        <!-- <mdb-col lg="7">
                            <p>
                                <mdb-lightbox :imgs="gallery" gallery gap></mdb-lightbox>
                            </p>
                        </mdb-col> -->
                    </mdb-row>

                    <mdb-row class="mb-5">
                        <mdb-col lg="6">
                            <h4 class="font-weight-bold mb-3 p-0 text-uppercase">
                                Drone View
                            </h4>

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe
                                    width="100%"
                                    src="https://www.youtube.com/embed/f8CLb2xZ_pc"
                                    title="YouTube video"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                ></iframe>
                            </div>
                        </mdb-col>

                        <mdb-col lg="6">
                            <h4 class="font-weight-bold mb-3 p-0 text-uppercase">
                                Google Map
                            </h4>
                            <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d985.9662927667756!2d116.09037482919611!3d-8.704351673950553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf2681d7d4207935!2zOMKwNDInMTUuNyJTIDExNsKwMDUnMjcuMyJF!5e0!3m2!1sen!2spl!4v1644286556359!5m2!1sen!2spl" width="100%" height="100%" frameBorder="0" style="border: 0" loading="lazy"></iframe>
                            </div>
                        </mdb-col>
                    </mdb-row>
                </section>
            </mdb-container>
        
        <hr class="my-6" />

        <mdb-container > 
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold mt-5  text-center">Persyaratan</h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">Proses sangat mudah dan anti ribet karena staff kami selalu siap untuk membantu anda menyelesaikan semua berkas yang diperlukan</p>
                <mdb-row class="mx-3">
                    <mdb-col lg="6">
                        
                    </mdb-col>
                    <mdb-col lg="6">

                    </mdb-col>
                </mdb-row>
            </section>
        </mdb-container>

        <mdb-container class="mb-5">
            <!--Section: Content-->
            <section class="dark-grey-text">
                <mdb-row class="my-6">
                    <mdb-col lg="4" class="mb-4">
                        <div class="view">
                            <img
                                src="images/jkregency/document.png"
                                class="img-fluid mb-3 hover-shadow"
                                alt="Perumahan bersubsidi lombok barat"
                                width="80%"
                                align=""
                            />
                        </div>
                    </mdb-col>
                    <mdb-col lg="4" class="mb-4">
                        <div>
                            <h4 class="font-weight-bold mb-4">
                                PNS/TNI/POLRI/SWASTA/BUMN
                            </h4>
                            <p>
                                <ul>
                                    <li>Fotocopy KTP (Pemohon dan pasangan)</li>
                                    <li>Fotocopy akta nikah/surat keterangan belum menikah</li>
                                    <li>Fotocopy kartu keluarga</li>
                                    <li>Fotocopy NPWP atas nama pemohon</li>
                                    <li>Pas photo berwarna uk. 3x4</li>
                                    <li>Fotocopy surat keterangan kerja (SK)</li>
                                    <li>Fotocopy slip gaji 3 bulan terakhir</li>
                                    <li>Fotocopy SPT tahunan</li>
                                </ul>
                            </p>
                        </div>
                    </mdb-col>
                    <mdb-col lg="4" class="mb-4">
                        <div>
                            <h4 class="font-weight-bold mb-4">
                                WIRASWASTA
                            </h4>
                            <p>
                                <ul>
                                    <li>Fotocopy KTP (Pemohon dan pasangan)</li>
                                    <li>Fotocopy akta nikah/surat keterangan belum menikah</li>
                                    <li>Fotocopy kartu keluarga</li>
                                    <li>Fotocopy NPWP atas nama pemohon</li>
                                    <li>Pas photo berwarna uk. 3x4</li>
                                    <li>Fotocopy ijin perusahaan (TDP, SIUP/SITU, HO, NPWP)</li>
                                    <li>Fotocopy laporan keuangan/pembukuan usaha&bukti</li>
                                    <li>Fotocopy rekening bank lain 6 bulan terakhir</li>
                                </ul>
                            </p>
                        </div>
                    </mdb-col>
                </mdb-row>
            </section>
            <!--Section: Content-->
        </mdb-container>

        <hr class="my-6" />

        <mdb-container > 
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold mt-5 text-center">Hubungi kami sekarang juga</h2>
                <p class="text-center w-responsive mx-auto pb-5">Kami dengan senang hati membantu anda untuk memberikan informasi yang lebih detail</p>
                <mdb-row class="mb-5">
                    <mdb-col lg="12">
                        <div class="text-center">
                            <img
                                src="images/jkregency/hubungikami.png"
                                class="img-fluid mb-3 hover-shadow"
                                alt="Perumahan bersubsidi lombok barat"
                                width="15%"
                                align=""
                            />
                        </div>
                    </mdb-col>
                </mdb-row>

                <mdb-row class="mb-5">
                    <mdb-col lg="12">
                        <h4 class="font-weight-bold text-center">
                            Whatsapp kami sekarang
                        </h4>
                        <div class="text-center">
                            <a href="https://wa.me/6287896468259" class="btn btn-rounded white-text" style="background-color: #25d366;" target="_blank"><i class="fab fa-whatsapp pr-2"> </i>Chat via Whatsapp</a>
                        </div>
                    </mdb-col>
                </mdb-row>

                <!-- <mdb-row class="my-5 pt-5">
                    <mdb-col lg="5" class="lg-0 mb-5">
                        <mdb-card>
                            <mdb-card-body>
                                <div class="form-header blue darken-4">
                                    <h3 class="mt-2">
                                        <mdb-icon icon="envelope" /> Email kami</h3>
                                </div>
                                <p class="dark-grey-text">Silahkan mengisi form dibawah ini untuk mengirimkan email kepada tim kami</p>
                                <div class="md-form">
                                    <mdb-input icon="user" label="Nama Anda" iconClass="grey-text" type="text"
                                        id="form-name" />
                                </div>
                                <div class="md-form">
                                    <mdb-input icon="envelope" label="Email Anda" iconClass="grey-text" type="text"
                                        id="form-email" />
                                </div>
                                <div class="md-form">
                                    <mdb-input icon="tag" label="Subjek" iconClass="grey-text" type="text"
                                        id="form-subject" />
                                </div>
                                <div class="md-form">
                                    <mdb-textarea icon="pencil" label="Isi" iconClass="grey-text" id="form-text" />
                                </div>
                                <div class="text-center">
                                    <mdb-btn color="blue darken-4">Kirim</mdb-btn>
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </mdb-col>
                    <mdb-col lg="7">
                        <div id="map-container" class="rounded z-depth-1-half map-container" style="height: 400px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.895660556328!2d116.12643761506268!3d-8.606015689790906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcdbf3615795b83%3A0x1554b3d4a87b51a7!2sGandrung%20Sasak%20Oleh%20Oleh%20Lombok!5e0!3m2!1sen!2sid!4v1644288971735!5m2!1sen!2sid" width="100%" height="100%" frameBorder="0" style="border: 0" loading="lazy"></iframe>
                        </div>
                        <br />
                        <mdb-row class="text-center">
                            <mdb-col md="4">
                                <mdb-btn tag="a" floating color="blue" class="accent-1">
                                    <mdb-icon icon="map-marker" />
                                </mdb-btn>
                                <p>Jl. Prabu Rangkasari No.168, Mataram</p>
                                <p class="mb-md-0">Lombok, Nusa Tenggara Barat</p>
                            </mdb-col>
                            <mdb-col md="4">
                                <mdb-btn tag="a" floating color="blue" class="accent-1">
                                    <mdb-icon icon="phone" />
                                </mdb-btn>
                                <p>+62878 9646 8259</p>
                                <p class="mb-md-0">Senin - Jumat, <br/> 08:00-17:00</p>
                            </mdb-col>
                            <mdb-col md="4">
                                <mdb-btn tag="a" floating color="blue" class="accent-1">
                                    <mdb-icon icon="envelope" />
                                </mdb-btn>
                                <p>info@gmail.com</p>
                                <p class="mb-md-0">sale@gmail.com</p>
                            </mdb-col>
                        </mdb-row>
                    </mdb-col>
                </mdb-row> -->
            </section>
        </mdb-container>

        <!-- <mdb-container>
      <mdb-row class="my-5 py-4">
        <mdb-col md="6" class="">
          <h3 class="font-weight-bold mb-4">VISION</h3>
          <p align="justify">Our vision is to inspire people around the globe .</p>
        </mdb-col>

        <mdb-col md="6" class="">
          <h3 class="font-weight-bold mb-4">VALUES</h3>
          <p align="justify">With offices in Europe, Australia and America, Teeymur has the capability of touching people worldwide. Teeymur has the vision of making a difference to community and environment through the Boardriders Foundation. The Boardriders Foundation has a commitment to improving the quality of all our lives.</p>
        </mdb-col>
      </mdb-row>
    </mdb-container> -->
        <!-- <mdb-parallax src="http://mdbootstrap.com/img/Photos/Others/nature4.jpg"  factor="1.3" height="600"/> -->
    </div>
</template>

<script>
import PageHeader from "../elements/page-header";
import {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbMask,
    mdbView,
    mdbIcon,
    mdbParallax,
    mdbLightbox,
    mdbSpinner,
    mdbBtn,
    mdbInput,
    mdbTextarea
} from "mdbvue";
export default {
    name: "about",
    components: {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbCard,
        mdbCardBody,
        PageHeader,
        mdbParallax,
        mdbView,
        mdbIcon,
        mdbMask,
        mdbLightbox,
        mdbSpinner,
        mdbBtn,
        mdbInput,
        mdbTextarea
    },
    data() {
        return {
            gallery: [
                {
                    thumbnail: "images/gallery/T1.jpg",
                    img: "images/gallery/1.jpg"
                },
                {
                    thumbnail: "images/gallery/T2.jpg",
                    img: "images/gallery/2.jpg"
                },
                {
                    thumbnail: "images/gallery/T3.jpg",
                    img: "images/gallery/3.jpg"
                },
                {
                    thumbnail: "images/gallery/T4.jpg",
                    img: "images/gallery/4.jpg"
                },
                {
                    thumbnail: "images/gallery/T5.jpg",
                    img: "images/gallery/5.jpg"
                },
                {
                    thumbnail: "images/gallery/T6.jpg",
                    img: "images/gallery/6.jpg"
                }
            ]
        };
    }
};
</script>
