<template>
    <div class="page">
        <PageHeader
            Title="Tentang Kami"
            Description="Kanasugi Property"
            bgImage="images/pageheader/1.jpg"
        ></PageHeader>
        <mdb-container fluid>
            <mdb-row class="mb-3">
                <mdb-col lg="12">
                    <img
                        src="images/tentangkami/2.jpg"
                        class="img-fluid mb-3 hover-shadow"
                        alt="Perumahan bersubsidi lombok barat"
                        width="100%"
                        align=""
                    />
                </mdb-col>
            </mdb-row>
        </mdb-container>

        <mdb-container>
            <section class="dark-grey-text mx-auto">
                <mdb-row class="my-3 justify-content-md-center">
                    <mdb-col lg="12">
                        <div class="view">
                            <img
                                src="images/tentangkami/kanasugi-logo-circle.png"
                                class="img-fluid my-3 hover-shadow mx-auto"
                                alt="Perumahan bersubsidi lombok barat"
                                width="20%"
                                align=""
                            />
                        </div>
                        <h2
                            class="h1-responsive font-weight-bold text-center mt-3"
                        >
                            KANASUGI PROPERTY
                        </h2>
                        <p class="text-center text-muted text-uppercase">
                            "Less House, More Home"
                        </p>
                        <p
                            class="lead grey-text w-responsive text-center mx-auto mb-3"
                        >
                            Kami adalah developer real estate yang berpengalaman
                            dalam membangun berbagai jenis perumahan baik
                            perumahan bersubsidi maupun komersial. Desain yang
                            modern, minimalis, dan millenial menjadi ciri khas
                            dalam karya yang kami hasilkan.
                            <br />
                            Keinginan kami adalah memberikan hunian yang bukan
                            hanya aman dan nyaman, tetapi juga bagus secara
                            estetika dengan harga yang terjangkau.
                        </p>
                    </mdb-col>
                </mdb-row>

                <!-- Grid row -->
                <mdb-row>
                    <!-- Grid column -->
                    <mdb-col class="my-3 text-center" lg="4">
                        <i class="fas fa-fire fa-lg"></i>
                        <h5 class="card-title mt-3">Bersemangat</h5>
                        <p class="card-text">
                            Kami percaya sebuah karya yang baik diawali dengan
                            semangat yang tinggi dalam bekerja
                        </p>
                    </mdb-col>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <mdb-col class="my-3 text-center" lg="4">
                        <i class="fas fa-building fa-lg"></i>
                        <h5 class="card-title mt-3">Berkualitas</h5>
                        <p class="card-text">
                            Memberi melebihi ekspektasi client selalu menjadi
                            standar yang kami terapkan
                        </p>
                    </mdb-col>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <mdb-col class="my-3 text-center" lg="4">
                        <i class="fas fa-handshake fa-lg"></i>
                        <h5 class="card-title mt-3">Terpercaya</h5>
                        <p class="card-text">
                            Siap menjadi andalan dan membangun kerjasama yang
                            baik dengan anda
                        </p>
                    </mdb-col>
                    <!-- Grid column -->
                </mdb-row>
                <!-- Grid row -->

                <!-- <mdb-row>
                    <mdb-col lg="4" class="my-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="fas fa-fire fa-lg"></i>
                                <h5 class="card-title mt-3">Bersemangat</h5>
                                <p class="card-text">
                                    Kami percaya sebuah karya yang baik diawali
                                    dengan semangat yang tinggi dalam bekerja
                                </p>
                            </div>
                        </div>
                    </mdb-col>
                    <mdb-col lg="4" class="my-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="fas fa-building fa-lg"></i>
                                <h5 class="card-title mt-3">Berkualitas</h5>
                                <p class="card-text">
                                    Memberi melebihi ekspektasi client selalu
                                    menjadi standar yang kami terapkan
                                </p>
                            </div>
                        </div>
                    </mdb-col>
                    <mdb-col lg="4" class="my-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="fas fa-handshake fa-lg"></i>
                                <h5 class="card-title mt-3">Terpercaya</h5>
                                <p class="card-text">
                                    Siap menjadi andalan dan membangun kerjasama
                                    yang baik dengan anda
                                </p>
                            </div>
                        </div>
                    </mdb-col>
                </mdb-row> -->
            </section>
        </mdb-container>

        <hr class="my-5" />

        <mdb-container>
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold mt-5 text-center">
                    Tim Kami
                </h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">
                    Pekerjaan yang bagus dihasilkan dari sebuah tim yang solid
                    dan skill yang mumpuni. <br />
                    Berikut profil mereka yang siap membantu anda
                </p>
                <mdb-row class="">
                    <mdb-col lg="4" class="my-3">
                        <mdb-card class="card">
                            <img
                                src="images/tentangkami/donty.jpg"
                                class="card-img-top"
                                alt="Donti Kanasugi Property"
                            />
                            <div class="card-body">
                                <h5 class="card-title">
                                    Dontiganov Lobang (Donti)
                                </h5>
                                <p class="lead small">Marketing Executive</p>
                                <p class="card-text">
                                    Tim kami selalu siap untuk membantu anda
                                    dalam mendapatkan hunian impian. Untuk
                                    bertanya maupun berdiskusi silahkan hubungi
                                    sekarang juga
                                </p>
                                <a
                                    href="https://wa.me/6281907740007"
                                    class="btn btn-rounded btn-block white-text"
                                    style="background-color: #25d366"
                                    target="_blank"
                                    ><i class="fab fa-whatsapp pr-2"> </i>Chat
                                    Donti via Whatsapp</a
                                >
                            </div>
                        </mdb-card>
                    </mdb-col>
                    <mdb-col lg="4" class="my-3">
                        <mdb-card class="card">
                            <img
                                src="images/tentangkami/dwi.jpg"
                                class="card-img-top"
                                alt="Dwi Kanasugi Property"
                            />
                            <div class="card-body">
                                <h5 class="card-title">
                                    Ni Made Dwi Suryantini (Dwi)
                                </h5>
                                <p class="lead small">Marketing Executive</p>
                                <p class="card-text">
                                    Tim kami selalu siap untuk membantu anda
                                    dalam mendapatkan hunian impian. Untuk
                                    bertanya maupun berdiskusi silahkan hubungi
                                    sekarang juga
                                </p>
                                <a
                                    href="https://wa.me/6281353466061"
                                    class="btn btn-rounded btn-block white-text"
                                    style="background-color: #25d366"
                                    target="_blank"
                                    ><i class="fab fa-whatsapp pr-2"> </i>Chat
                                    Dwi via Whatsapp</a
                                >
                            </div>
                        </mdb-card>
                    </mdb-col>
                    <mdb-col lg="4" class="my-3">
                        <mdb-card class="card">
                            <img
                                src="images/tentangkami/eka.jpg"
                                class="card-img-top"
                                alt="Jebeng Kanasugi Property"
                            />
                            <div class="card-body">
                                <h5 class="card-title">Eka Wulandari (Eka)</h5>
                                <p class="lead small">Marketing Executive</p>
                                <p class="card-text">
                                    Tim kami selalu siap untuk membantu anda
                                    dalam mendapatkan hunian impian. Untuk
                                    bertanya maupun berdiskusi silahkan hubungi
                                    sekarang juga
                                </p>
                                <a
                                    href="https://wa.me/6287896468259"
                                    class="btn btn-rounded btn-block white-text"
                                    style="background-color: #25d366"
                                    target="_blank"
                                    ><i class="fab fa-whatsapp pr-2"> </i>Chat
                                    Eka via Whatsapp</a
                                >
                            </div>
                        </mdb-card>
                    </mdb-col>
                </mdb-row>
            </section>
        </mdb-container>

        <hr class="my-5" />

        <mdb-container>
            <section class="my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold mt-5 text-center">
                    Proyek Kami
                </h2>
                <p class="grey-text w-responsive mx-auto mb-5 text-center">
                    JK Regency merupakan perumahan bersubsidi pilihan terbaik
                    bagi anda yang ingin membangun masa depan yang cerah bersama
                    keluarga tercinta. Hanya dengan DP 5juta saja anda sudah
                    bisa menempati hunian yang selama ini anda cari
                </p>

                <section
                    class="text-center white-text grey p-5"
                    style="background-image: url(images/tentangkami/1.jpg)"
                >
                    <!--Grid row-->
                    <mdb-row class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <mdb-col lg="6" class="my-3">
                            <h3 class="font-weight-bold">JK REGENCY</h3>

                            <p>
                                Perumahan bersubsidi dengan konsep 3M (Modern,
                                Minimalis, Millenial). Desain yang bagus, lokasi
                                yang strategis, dan harga yang terjangkau
                                membuat perumahaan ini layak menjadi pilihan
                                yang paling tepat bagi anda dan keluarga
                            </p>

                            <a
                                href="/jkregency"
                                class="btn btn-outline-white btn-lg waves-effect ml-0"
                                role="button"
                                ><i class="fas fa-building mr-2"></i>Lihat
                                Detail</a
                            >
                            <!-- <a
                                href="#"
                                class="btn btn-outline-white btn-md waves-effect"
                                role="button"
                                ><i class="fas fa-download mr-2"></i>Download</a
                            > -->
                        </mdb-col>
                        <!--Grid column-->
                    </mdb-row>
                    <!--Grid row-->
                </section>
            </section>
        </mdb-container>
    </div>
</template>

<script>
import PageHeader from "../elements/page-header";
import {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbMask,
    mdbView,
    mdbIcon,
    mdbParallax,
    mdbLightbox,
    mdbSpinner,
    mdbBtn,
    mdbInput,
    mdbTextarea
} from "mdbvue";
export default {
    name: "about",
    components: {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbCard,
        mdbCardBody,
        PageHeader,
        mdbParallax,
        mdbView,
        mdbIcon,
        mdbMask,
        mdbLightbox,
        mdbSpinner,
        mdbBtn,
        mdbInput,
        mdbTextarea
    },
    data() {
        return {
            gallery: [
                {
                    thumbnail: "images/gallery/T1.jpg",
                    img: "images/gallery/1.jpg"
                },
                {
                    thumbnail: "images/gallery/T2.jpg",
                    img: "images/gallery/2.jpg"
                },
                {
                    thumbnail: "images/gallery/T3.jpg",
                    img: "images/gallery/3.jpg"
                },
                {
                    thumbnail: "images/gallery/T4.jpg",
                    img: "images/gallery/4.jpg"
                },
                {
                    thumbnail: "images/gallery/T5.jpg",
                    img: "images/gallery/5.jpg"
                },
                {
                    thumbnail: "images/gallery/T6.jpg",
                    img: "images/gallery/6.jpg"
                }
            ]
        };
    }
};
</script>
