<template>
    <div class="page">
        <PageHeader
            Title="Testimony"
            Description="Mari kita dengar apa kata mereka"
            bgImage="images/pageheader/1.jpg"
        ></PageHeader>

        <mdb-container>
            <section class="text-center my-5 mx-3">
                <h2 class="h1-responsive font-weight-bold my-5">Testimony</h2>
                <p class="grey-text w-responsive mx-auto mb-5">
                    Pengalaman mereka yang telah merasakan
                    membeli dan menempati rumah di perumahan bersubsidi JK
                    Regency
                </p>
                <mdb-carousel
                    single
                    slide
                    :items="3"
                    testimonial
                    indicators
                    indicatorsColor="blue darken-4"
                    controlls
                    navColor="blue darken-4"
                >
                    <template #[i+1] v-for="(testimonial, i) in testimonials">
                        <mdb-testimonial :key="i">
                            <mdb-avatar
                                wrapperClass="z-depth-1 mb-4"
                                :width="200"
                                circle
                                tag="img"
                                :src="testimonial.img"
                            />

                            <h4 class="font-weight-bold mt-4">
                                {{ testimonial.name }}
                            </h4>
                            <h6 class="blue-text font-weight-bold my-3">
                                {{ testimonial.position }}
                            </h6>
                            <p class="font-weight-normal">
                                <mdb-icon
                                    icon="quote-left"
                                    class="pr-2"
                                ></mdb-icon>
                                {{ testimonial.quote }}
                            </p>
                            <div>
                                <mdb-rating
                                    :value="testimonial.rating"
                                    disabled
                                    far
                                    iconActiveClass="grey-text"
                                />
                            </div>
                        </mdb-testimonial>
                    </template>
                </mdb-carousel>
            </section>
        </mdb-container>
    </div>
</template>

<script>
import PageHeader from "../elements/page-header";
import {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbMask,
    mdbView,
    mdbIcon,
    mdbParallax,
    mdbLightbox,
    mdbSpinner,
    mdbBtn,
    mdbInput,
    mdbTextarea,
    mdbRating,
    mdbTestimonial,
    mdbAnimateOnScroll,
    mdbCarousel,
    mdbAvatar,
} from "mdbvue";
export default {
    name: "about",
    components: {
        mdbContainer,
        mdbRow,
        mdbCol,
        mdbCard,
        mdbCardBody,
        PageHeader,
        mdbParallax,
        mdbView,
        mdbIcon,
        mdbMask,
        mdbLightbox,
        mdbSpinner,
        mdbBtn,
        mdbInput,
        mdbTextarea,
        mdbRating,
        mdbTestimonial,
        mdbAnimateOnScroll,
        mdbCarousel,
        mdbAvatar,
    },
    data() {
        return {
            testimonials: [
                {
                    img: "images/testimony/1.jpg",
                    quote: "Untuk model rumah lain daripada yang lain, trus minimalis juga, untuk lingkungan sampai saat ini masih aman dan nyaman, dekat dengan fasilitas umum. Intinya selama baru beberapa bulan di JK Regency udah berasa betah",
                    name: "Mba Diana",
                    position: "Wiraswasta",
                    rating: 5,
                },
                {
                    img: "images/testimony/2.jpg",
                    quote: "Alhamdulilah puas sekali, nyaman juga tempatnya. Model rumahnya juga beda dari yang lain, setiap orang yang ke rumah suka sekali lihat modelnya yg mungil di depan tapi pas masuk lebar sekali!",
                    name: "Mba Hana",
                    position: "Wiraswasta",
                    rating: 5,
                },
                {
                    img: "images/testimony/3.jpg",
                    quote: "Bentuk rumahnya minimalis, suasananya asri, fasilitas sekolah dari SD, SMP, SMA sangat dekat, puskesmas dan polres juga sangat dekat. Pada intinya semua aman. Insyaallah saya dan keluarga betah",
                    name: "Eka Wiraatmaja",
                    position: "Wiraswasta",
                    rating: 5,
                },
            ],
        };
    },
};
</script>
