<template>
    <div>
        <NavBar />
        <router-view></router-view>
        <Footer />
    </div>
</template>

<script>
import NavBar from "./components/elements/navbar";
import Footer from "./components/elements/footer";
import NprogressContainer from "vue-nprogress/src/NprogressContainer";
import { mdbSpinner } from "mdbvue";

export default {
    name: "HomePage",
    components: {
        NavBar,
        NprogressContainer,
        Footer,
        mdbSpinner,
    },
};
</script>
