<template>
    <!-- Footer -->
    <mdb-footer
        color="unique-color-dark"
        class="page-footer font-small pt-0 mt-0"
    >
        <!-- Section: Social media -->
        <section
            class="d-flex justify-content-center justify-content-lg-between border-bottom"
        >
            <mdb-container class="text-left">
                <mdb-row class="py-4 d-flex align-items-center">
                    <mdb-col
                        md="6"
                        lg="5"
                        class="text-center text-md-left mb-4 mb-md-0"
                    >
                        <h6 class="mb-0 white-text">
                            Ikuti kami di media sosial
                        </h6>
                    </mdb-col>
                    <mdb-col md="6" lg="7" class="text-center text-md-right">
                        <a
                            class="fb-ic ml-0"
                            href="https://wa.me/6287896468259"
                            target="_blank"
                            ><i class="fab fa-whatsapp white-text mr-lg-4"> </i
                        ></a>
                        <a
                            href="https://www.instagram.com/kanasugiproperty/"
                            target="_blank"
                            ><i class="fab fa-instagram white-text mr-lg-4"> </i
                        ></a>
                    </mdb-col>
                </mdb-row>
            </mdb-container>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <mdb-container class="text-left text-md-start mt-5">
                <!-- Grid row -->
                <mdb-row class="mt-3">
                    <!-- Grid column -->
                    <mdb-col lg="4" class="mb-4">
                        <img
                            src="images/tentangkami/kanasugi-logo-circle.png"
                            class="img-fluid pb-5 hover-shadow"
                            alt="Perumahan bersubsidi lombok barat"
                            width="25%"
                            align=""
                        />
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            KANASUGI PROPERTY
                        </h6>
                        <p class="small">"Less House, More Home"</p>
                        <p class="w-responsive mb-3">
                            Kami adalah developer real estate yang berpengalaman
                            dalam membangun berbagai jenis perumahan baik
                            perumahan bersubsidi maupun komersial
                        </p>
                    </mdb-col>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <mdb-col lg="4" class="mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p>
                            <i class="fas fa-home me-3 pr-2"></i> Jl. Prabu
                            Rangkasari No.168, Mataram, Lombok
                        </p>
                        <p>
                            <i class="fas fa-envelope me-3 pr-2"></i>
                            kanasugimuliamakmur@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone me-3 pr-2"></i> +62878 9646
                            8259
                        </p>
                    </mdb-col>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <mdb-col lg="4" class="mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="/jkregency" class="text-reset"
                                >JK Regency</a
                            >
                        </p>
                        <p>
                            <a href="/tentangkami" class="text-reset"
                                >Tentang Kami</a
                            >
                        </p>
                        <p>
                            <a href="/testimony" class="text-reset"
                                >Testimony</a
                            >
                        </p>
                        <p>
                            <a href="/faq" class="text-reset">FAQ</a>
                        </p>
                    </mdb-col>
                    <!-- Grid column -->
                </mdb-row>
                <!-- Grid row -->
            </mdb-container>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div
            class="text-center p-4"
            style="background-color: rgba(0, 0, 0, 0.05)"
        >
            © 2022 Copyright :
            <a class="text-reset fw-bold" href="/">Kanasugi Property</a> |
            Website Development by :
            <a
                class="text-reset fw-bold"
                href="https://www.instagram.com/bion.digital/"
                target="_blank"
                >Bion Digital</a
            >
        </div>
        <!-- Copyright -->
    </mdb-footer>
    <!-- Footer -->
</template>

<script>
import { mdbFooter, mdbContainer, mdbRow, mdbCol } from "mdbvue";
export default {
    name: "FooterPage",
    components: {
        mdbFooter,
        mdbContainer,
        mdbRow,
        mdbCol,
    },
};
</script>
