<template>
    <mdb-container class="mt-50 pt-50">
        <mdb-navbar
            expand="lg"
            color="blue darken-4"
            togglerIcon=""
            animated
            animation="3"
            position="top"
            dark
            scrolling
        >
            <mdb-navbar-brand href="/">
                <img
                    src="images/logo-kanasugi.png"
                    height="35"
                    alt="Rumah subsidi lombok barat"
                    loading="lazy"
                    class="inline"
                    style="display: inline"
                />
            </mdb-navbar-brand>
            <mdb-navbar-toggler>
                <mdb-navbar-nav right>
                    <mdb-nav-item href="/" active>Home</mdb-nav-item>
                    <mdb-dropdown tag="li" class="nav-item">
                        <mdb-dropdown-toggle
                            tag="a"
                            navLink
                            color="transparent"
                            slot="toggle"
                            waves-fixed
                            >Proyek</mdb-dropdown-toggle
                        >
                        <mdb-dropdown-menu>
                            <mdb-dropdown-item href="/jkregency"
                                >JK Regency</mdb-dropdown-item
                            >
                        </mdb-dropdown-menu>
                    </mdb-dropdown>
                    <mdb-nav-item href="/testimony">Testimony</mdb-nav-item>
                    <mdb-nav-item href="/tentangkami"
                        >Tentang Kami</mdb-nav-item
                    >
                    <mdb-nav-item href="/faq">FAQ</mdb-nav-item>
                    <!-- <mdb-nav-item href="#">Berita</mdb-nav-item> -->
                    <mdb-nav-item href="/hubungikami"
                        >Hubungi Kami</mdb-nav-item
                    >
                </mdb-navbar-nav>
            </mdb-navbar-toggler>
        </mdb-navbar>
    </mdb-container>
</template>

<script>
import {
    mdbDropdown,
    mdbDropdownToggle,
    mdbDropdownMenu,
    mdbDropdownItem,
    mdbContainer,
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbNavbarNav,
    mdbNavItem,
} from "mdbvue";
export default {
    name: "NavigationBar",
    components: {
        mdbNavbar,
        mdbNavbarBrand,
        mdbNavbarToggler,
        mdbNavbarNav,
        mdbNavItem,
        mdbContainer,
        mdbDropdown,
        mdbDropdownToggle,
        mdbDropdownMenu,
        mdbDropdownItem,
    },
};
</script>
