<template>
    <div class="page">
        <mdb-card
            class="card-image"
            :style="{ backgroundImage: `url(${bgImage})` }"
        >
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="py-5 animated fadeInLeft">
                    <h2 class="card-title h1-responsive my-3 py-2 font-bold">
                        <strong>{{ Title }}</strong>
                    </h2>
                    <p class="px-md-5 mx-md-5">{{ Description }}</p>
                </div>
            </div>
        </mdb-card>
    </div>
</template>

<script>
import { mdbCard, mdbBtn, mdbContainer, mdbRow } from "mdbvue";
export default {
    name: "PageHeader",
    components: {
        mdbCard,
        mdbBtn,
        mdbContainer,
        mdbRow
    },
    props: { Title: String, Description: String, bgImage: String },
    // ['Title', 'Description', 'bgImage']
    mounted() {
        console.log("MOUNTED : " + this.Title);
    }
};
</script>
